.principal-card{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    margin-top: 10%;
    padding: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b8f9a+0,4a3963+43,41314e+100,2989d8+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fa3a4+10,4a3963+38,41314e+100,2989d8+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fa3a4+5,4a3963+34,41314e+59,41314e+59,41314e+59,6d345d+81,6d345d+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fa3a4+5,4a3963+23,6d345d+100 */

/*background: #5fa3a4; 
background: -moz-linear-gradient(-45deg, #5fa3a4 5%, #4a3963 23%, #6d345d 100%); 
background: -webkit-linear-gradient(-45deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); 
background: linear-gradient(135deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa3a4', endColorstr='#6d345d',GradientType=1 ); 
*/
background-color: aliceblue;
}
.field {
    color: darkmagenta;
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 1%;
}
.button-save{
    background-color: #4a3963 !important;
    color: cornsilk !important;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.mat-form-field{
    margin: 20px;
    caret-color: aliceblue ;
}
.error{
    color: aliceblue;
}
.tittle{
    background: #5fa3a4; 
background: -moz-linear-gradient(-45deg, #5fa3a4 5%, #4a3963 23%, #6d345d 100%); 
background: -webkit-linear-gradient(-45deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); 
background: linear-gradient(135deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa3a4', endColorstr='#6d345d',GradientType=1 ); 
    color: cornsilk !important;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: row;
    padding: 5px; 
}