.principal-card{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-color: azure;
    border-width: 1px;
    border-style: solid;
    margin-top: 10%;
    padding: 0px;
background: #5fa3a4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #5fa3a4 5%, #4a3963 23%, #6d345d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa3a4', endColorstr='#6d345d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.field {
    color: aqua !important;
}
.button-save{
    background-color: #4a3963 !important;
    color: aqua !important;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.mat-form-field{
    margin: 20px;
    caret-color: aliceblue ;
}
.error{
    color: aliceblue;
}
