.navBar{
    background-color: #2bb5b8;
    height: 100px;
}
.tittle{
    padding-left: 0px;
}
.panelButtons{
  margin-left: auto;
  height: 100%;
}

.buttonNav{
    background-color: brown;
    height: 100%;
}
.mat-toolbar{
    height: 45px;
    min-height: 45px;
}