<mat-toolbar class="navBar">
  <mat-toolbar-row>
    <div class="tittleNav">
        <span>Ceiba Parking</span>
    </div>
    <div class="panelButtons">
        <button routerLink="/home" mat-raised-button class="buttonNav">Registry Parking</button>
        <button routerLink="/payments" mat-raised-button class="buttonNav">Payments</button>
        <button routerLink="/disponibility" mat-raised-button class="buttonNav">Check Disponibility</button>
        <button routerLink="/dollarPrice" mat-raised-button class="buttonNav">Check Dollar Price</button>
    </div>
  </mat-toolbar-row>