.navBar{
    background: #5fa3a4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5fa3a4 5%, #4a3963 23%, #6d345d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5fa3a4 5%,#4a3963 23%,#6d345d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa3a4', endColorstr='#6d345d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100px;
}
.tittle{
    padding-left: 0px;
}
.panelButtons{
  margin-left: auto;
  height: 100%;
}

.buttonNav{
    color: aqua;
    background-color: #4a3963 !important;
    height: 100%;
}
.mat-toolbar{
    height: 45px;
    min-height: 45px;
}